/* Stylesheet for login form */

/* ---Element Selectors--- */

button {
    cursor: pointer;
}

input[type=submit] {
    cursor: pointer;
}

/* ---Class Selectors--- */

.form_element {
    background-color:  #5012C9;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    margin: 2%;
    padding: 5px;
    width: 150px;
}

.form_wrapper {
    background: rgba(34, 34, 34, 0.3);
    height: 55vh;
    margin: 6% auto 0 auto;
    padding-bottom: 0;
    width: 65vh;
    text-align: center;
}

.form_wrapper_class {
    margin-top: 10vh;
    padding: 15px;
    text-align: center;
}


.input {
    width: 140px;
}

.switch_form_wrapper {
    margin-top: 15%;
}

/* ---ID Selectors--- */

#home {
    margin-top: 95px;
}

#login_header {
    margin-top: 2%;
    text-align: center;
}

#loginform {
    margin-top: 2.5%;
}

#submit_button {
    margin-left: 2.5%;
}

/* ---More Specific Class Selectors--- */

div.errorWrapper {
    background-color: rgba(255, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    width: 90%;
}