{% extends 'layout.jinja2'%}

{% block styles %}
    {# Stylesheets #}
    {# <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstylesheet.css') }}" type="text/css"> #}
    {# Local copy of jQuery #}
    <script src="{{ url_for('static', filename='jslib/jquery-3.5.1.min.js') }}"></script>
{% endblock %}

{% block content %}
<div id="hWrapper">
    <h1 class="header">Administrator Services</h1>
</div>
<div class="services_wrapper main">
    <h4 id="glances">
        <a class="serviceLink" onclick="javascript:event.target.port=61208" href="http://192.168.1.253/">Glances</a>
    </h4>
    <br>
    <h4 id="pihole">
        <a class="serviceLink" onclick="javascript:event.target.port=8085" href="http://192.168.1.253/admin">Pihole</a>
    </h4>
    <br>
    <h4 id="netdata">
        <a class="serviceLink" onclick="javascript:event.target.port=19999" href="http://192.168.1.253/">Netdata</a>
    </h4>
    <br>
    <h4 id="main">
        <a class="serviceLink" href="/">Home</a>
    </h4>
</div>
{% endblock %}